extends layout

block content
  .container-fluid
    h1 #{__('Distributed Blockchain')}
    button#synchronize.btn.btn-primary.ladda-button(data-style='expand-right')
      span.ladda-label #{__('Synchronize')}
    h3#status #{__('Synchronize')}
    - var peers = {1: 'A', 2: 'B', 3: 'C'}
      each peer, chain in peers
        h3 #{__('Peer')} #{peer}
        .row.row-horizon
          - var blocks = []
          - blocks.push({block: 1, chain: chain, nonce: 11316, previous: '0000000000000000000000000000000000000000000000000000000000000000'})
          - blocks.push({block: 2, chain: chain, nonce: 35230, previous: '000015783b764259d382017d91a36d206d0600e2cbb3567748f46a33fe9297cf'})
          - blocks.push({block: 3, chain: chain, nonce: 12937, previous: '000012fa9b916eb9078f8d98a7864e697ae83ed54f5146bd84452cdafd043c19'})
          - blocks.push({block: 4, chain: chain, nonce: 35990, previous: '0000b9015ce2a08b61216ba5a0778545bf4ddd7ceb7bbd85dd8062b29a9140bf'})
          - blocks.push({block: 5, chain: chain, nonce: 56265, previous: '0000ae8bbc96cf89c68be6e10a865cc47c6c48a9ebec3c6cad729646cefaef83'})
          each block in blocks
            .col-xs-7
              include includes/block

  script.
    $(function() {
      setup(1, 1);
      setup(2, 1);
      setup(3, 1);
      setup(4, 1);
      setup(5, 1);

      setup(1, 2);
      setup(2, 2);
      setup(3, 2);
      setup(4, 2);
      setup(5, 2);

      setup(1, 3);
      setup(2, 3);
      setup(3, 3);
      setup(4, 3);
      setup(5, 3);

      $('#synchronize').click(function(e) {
        let texts = []
        for (var x = 1; x <= 3; x++) {
          var text = ""
          for (var y = 1; y <= 5; y++) {
            text+= getText(y,x)
          }
          texts[x] = text
        }

        if(texts[1] == texts[2] && texts[3] == texts[2]){
          console.log("All chains are synchronized")
          $('#status').html("All chains are synchronized")
        }else{
          if(texts[1] == texts[2]) {
            for (var y = 1; y <= 5; y++) {
              $('#block'+y+'chain'+3+'number').val($('#block'+y+'chain'+2+'number').val());
              $('#block'+y+'chain'+3+'nonce').val($('#block'+y+'chain'+2+'nonce').val());
              $('#block'+y+'chain'+3+'data').val($('#block'+y+'chain'+2+'data').val());
              $('#block'+y+'chain'+3+'previous').val($('#block'+y+'chain'+2+'previous').val());
              updateHash(y,3)
            }
            $('#status').html("Chain C is synchronized")
            console.log("Chain C is synchronized")
            return
          }
          if(texts[2] == texts[3]) {
            for (var y = 1; y <= 5; y++) {
              $('#block'+y+'chain'+1+'number').val($('#block'+y+'chain'+2+'number').val());
              $('#block'+y+'chain'+1+'nonce').val($('#block'+y+'chain'+2+'nonce').val());
              $('#block'+y+'chain'+1+'data').val($('#block'+y+'chain'+2+'data').val());
              $('#block'+y+'chain'+1+'previous').val($('#block'+y+'chain'+2+'previous').val());
              updateHash(y,1)
            }
            console.log("Chain A is synchronized")
            $('#status').html("Chain A is synchronized")
            return
          }
          if(texts[1] == texts[3]) {
            for (var y = 1; y <= 5; y++) {
              $('#block'+y+'chain'+2+'number').val($('#block'+y+'chain'+3+'number').val());
              $('#block'+y+'chain'+2+'nonce').val($('#block'+y+'chain'+3+'nonce').val());
              $('#block'+y+'chain'+2+'data').val($('#block'+y+'chain'+3+'data').val());
              $('#block'+y+'chain'+2+'previous').val($('#block'+y+'chain'+3+'previous').val());
              updateHash(y,2)
            }
            console.log("Chain B is synchronized")
            $('#status').html("Chain B is synchronized")
            return
          }
          if(texts[1] != texts[3] && texts[1] != texts[2] ){
            console.log("Chain is Collapsed")
            $('#status').html("Chain is Collapsed")
          }
        }
      });
    });

    function getText(block, chain) {
      return $('#block'+block+'chain'+chain+'number').val() +
             $('#block'+block+'chain'+chain+'nonce').val() +
             $('#block'+block+'chain'+chain+'data').val() +
             $('#block'+block+'chain'+chain+'previous').val();
    }

    function setup(block, chain) {
      updateHash(block, chain);
      $('#block'+block+'chain'+chain+'number').bind('input propertychange', function() { updateChain(block, chain); });
      $('#block'+block+'chain'+chain+'nonce').bind('input propertychange', function() { updateChain(block, chain); });
      $('#block'+block+'chain'+chain+'data').bind('input propertychange', function() { updateChain(block, chain); });
      $('#block'+block+'chain'+chain+'mineButton').click(function(e) {
          e.preventDefault();
          var l = Ladda.create(this);
          l.start();
          setTimeout(function() {
              mine(block, chain, true);
              l.stop();
            }, 250); // give UI time to update
        });
    }
